{% extends "base.html" %}

{% block content %}
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="page-header">
        <h1>Uusi merkintä!</h1>
    </div>
    {% if success %}
    <div class="alert alert-success">
        {{success}}
    </div>
    {% endif %}
    {% if message %}
    <div class="alert alert-info">
        {{message}}
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger">
        {{error}}
    </div>
    {% for err in errors %}
    <div class="alert alert-warning">
        {{err}}
    </div>
    {% endfor %}
    {% endif %}

<div>
<a href="/tsoha/listaa_omat_paivakirjat" class="btn btn-primary">Omien päiväkirjamerkintöjen listaukseen</a>
</div>
    <div>
        <form action="{{base_path}}/uusi_pvk" method="post" role="form">
            <div class="form-group form-inline">
                <label for="pvm">Päiväys:</label>
                <input type="date" class="form-control" id="pvm" name="pvm" value="{{tanaan}}">
                <input type="time" class="form-control" id="klo" name="klo" value="{{kello}}">
            </div>
            <div class="form-group form-inline">
                <label for="saippua">Saippua:</label>
                <input type="text" class="form-control" id="saippua" name="saippua" placeholder="Käyttämäsi saippua">
            </div>
            <div class="form-group form-inline">
                <label for="hoyla">Höylä:</label>
                <select class="form-control" name="hoyla" id="hoyla">
                    <option value="eimaaritelty">Ei määritelty</option>
                    {% for hoyla in omat_hoylat %}
                    <option value="{{hoyla.id}}">{{hoyla.valmistaja}} {{hoyla.malli}}</option>
                    {% endfor %}
                    <option value="eimaaritelty">------------</option>
                    {% for hoyla in hoylat %}
                    <option value="{{hoyla.id}}">{{hoyla.valmistaja}} {{hoyla.malli}}</option>
                    {% endfor %}
                </select>
                <label for="aggressiivisuus">Aggressiivisuus:</label>
                <select class="form-control" name="aggressiivisuus" id="aggressiivisuus">
                    <option value="0">Ei määritelty</option>
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
            </div>
            <div class="form-inline form-group">
                <label for="tera">Terä:</label>
                <select class="form-control" id="tera" name="tera">
                    <option value="eimaaritelty">Ei määritelty</option>
                    {% for tera in terat %}
                    <option value="{{tera.id}}">{{tera.valmistaja}} {{tera.malli}}</option>
                    {% endfor %}
                </select>
                <label for="teravyys">Terävyys:</label>
                <select class="form-control" name="teravyys" id="teravyys">
                    <option value="0">Ei määritelty</option>
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
                <label for="pehmeys">Pehmeys:</label>
                <select class="form-control" name="pehmeys" id="pehmeys">
                    <option value="0">Ei määritelty</option>
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="julkisuus" id="julkisuus"> Tämä päiväkirja on julkinen</label>
            </div>
            <div class="form-group">
                <label for="ajopvkirja">Päivän ajo:</label>
                <textarea class="form-control" id="ajopvkirja" name="ajopvkirja" rows="3" placeholder="Yleiskatsaus päivän ajosta"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Talleta</button>
        </form>
    </div>
</div>
<div class="col-sm-2"></div>
{% endblock %}
