{% extends "base.html" %}

{% block content %}
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="page-header">
        <h1>{{pvk.pvm}} {{pvk.kayttaja.tunnus}}</h1>
    </div>
    {% if success %}
    <div class="alert alert-success">
        {{success}}
    </div>
    {% endif %}
    {% if message %}
    <div class="alert alert-info">
        {{message}}
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-warning">
        {{error}}
    </div>
    {% endif %}
    <div>
        <a href="/tsoha/listaa_paivakirjat" class="btn btn-default">Päiväkirjamerkintöjen listaukseen</a>
{% if oma %}
        <a href="/tsoha/listaa_omat_paivakirjat" class="btn btn-default">Omien päiväkirjamerkintöjen listaukseen</a>
{% endif %}
    </div>
    <div>
        <p>
            {% if pvk.julkisuus %}
            Tämä päiväkirjamerkintä on julkinen.
            {% else %}
            Tämä päiväkirjamerkintä on yksityinen.
            {% endif %}
        </p>
        {% if pvk %}
        <table class="table">
            <thead>
                <tr>
                    <th>Pvm</th>
                    <th>Klo</th>
                    <th>Partahöylä</th>
                    <th>Partaterä</th>
                    <th>Saippua</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{pvk.pvm}}</td>
                    <td>{{pvk.klo}}</td>
                    <td><a href="{{base_path}}/nayta_hoyla/{{pvk.hoyla.id}}">{{pvk.hoyla.valmistaja}} {{pvk.hoyla.malli}}</a></td>
                    <td><a href="{{base_path}}/nayta_tera/{{pvk.tera.id}}">{{pvk.tera.valmistaja}} {{pvk.tera.malli}}</a></td>
                    <td>{{pvk.saippua}}</td>
                </tr>
            </tbody>
        </table>
        <p>
            {{pvk.kommentit}}
        </p>
        {% endif %}
    </div>
    {% if oma %}
    <div>
        <a href="/tsoha/muokkaa_paivakirja/{{pvk.id}}" class="btn btn-primary">Muokkaa päiväkirjamerkintää</a>
        <a href="/tsoha/poista_paivakirja/{{pvk.id}}" class="btn btn-danger">Poista tämä merkintä tietokannasta</a>
    </div>
    {% endif %}
</div>
<div class="col-sm-2"></div>
{% endblock %}
