{% extends "base.html" %}

{% block content %}
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="page-header">
        <h1>Uusi Partahöylä!</h1>
    </div>

    {% if error %}
    <div class="alert alert-danger">
        {{error}}
    </div>
    {% for err in errors %}
    <div class="alert alert-warning">
        {{err}}
    </div>
    {% endfor %}
    {% endif %}
    <div>
        <a href="/tsoha/listaa_hoylat" class="btn btn-primary">Partahöylien listaukseen</a>
    </div>

    <div>
        <form method="post" action="{{base_path}}/lisaa_hoyla" role="form">
            <div class="form-group">
                <label for="valmistaja">Valmistaja:</label>
                {% if attributes %}
                <input name="valmistaja" type="text" class="form-control" id="valmistaja" value={{attributes.valmistaja}}>
                {% else %}
                <input name="valmistaja" type="text" class="form-control" id="valmistaja" placeholder="Valmistajan nimi">
                {% endif %}
            </div>
            <div class="form-group">
                <label for="malli">Malli:</label>
                {% if attributes %}
                <input name="malli" type="text" class="form-control" id="malli" value={{attributes.malli}}>
                {% else %}
                <input name="malli" type="text" class="form-control" id="malli" placeholder="Partahöylän malli tai tunniste">
                {% endif %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Lisää</button>
            </div>
        </form>
    </div>
</div>
<div class="col-sm-2"></div>
{% endblock %}
