{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if success %}
    <div class="alert alert-success">
      {{success}}
    </div>
    {% endif %}
    {% if message %}
    <div class="alert alert-info">
      {{message}}
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger">
        {{error}}
    </div>
    {% for err in errors %}
    <div class="alert alert-warning">
        {{err}}
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">

        <div class="col-sm-6">
            <div class="page-header">
                <h1>Kirjaudu!</h1>
            </div>
            <div>
                <form role="form" method="post" action="{{base_path}}/kirjautuminen">
                    <div class="form-group">
                        <label for="tunnus">Tunnus:</label>
                        <input type="text" class="form-control" id="tunnus" name="tunnus" placeholder="Tunnuksesi">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Salasana:</label>
                        <input type="password" class="form-control" id="salasana" name="salasana">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Ethän unohda minua</label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="page-header">
                <h1>Rekisteröidy!</h1>
            </div>
            <div>
                <form role="form" method="post" action="{{base_path}}/rekisteroityminen">
                    <div class="form-group">
                        <label for="nimi">Tunnus:</label>
                        <input type="text" class="form-control" id="tunnus" name="tunnus" placeholder="Kirjoita haluamasi tunnus">
                    </div>
                    <!--
                    <div class="form-group">
                        <label for="nimi">Nimi:</label>
                        <input type="text" class="form-control" id="nimi" placeholder="Kirjoita nimesi">
                    </div>
                    -->
                    <div class="form-group">
                        <label for="salasana">Salasana:</label>
                        <input type="password" class="form-control" id="salasana" name="salasana">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Salasana:</label>
                        <input type="password" class="form-control" id="salasana2" name="salasana2">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Ethän unohda minua</label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
