{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Tunnus: {{kayttaja.tunnus}}</h1>
</div>
{% if success %}
<div class="alert alert-success">
    {{success}}
</div>
{% endif %}
{% if message %}
<div class="alert alert-info">
    {{message}}
</div>
{% endif %}
{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% for err in errors %}
<div class="alert alert-warning">
    {{err}}
</div>
{% endfor %}
{% endif %}

<div>    
    <h3>Viimeisimmät ajopäiväkirjamerkinnät</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Pvm</th>
                <th>Höylä</th>
                <th>Terä</th>
                <th>Saippua</th>
            </tr>
        </thead>
        <tbody>
            {% if pvk %}
            {% for merkinta in pvk %}
            <tr>
                <td><a href="{{base_path}}/nayta_paivakirja/{{merkinta.id}}">{{merkinta.pvm}}</a></td>
                <td>{{merkinta.hoyla.valmistaja}} {{merkinta.hoyla.malli}}</td>
                <td>{{merkinta.tera.valmistaja}} {{merkinta.tera.malli}}</td>
                <td>{{merkinta.saippua}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>Ei päiväkirjamerkintöjä!</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{{base_path}}/listaa_omat_paivakirjat"><button class="btn btn-primary">Näytä omat ajopäiväkirjamerkintäsi</button></a>
</div>
<div>
    <h3>Partahöylät</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Partahöylät</th>
            </tr>
        </thead>
        <tbody>
            {% if hoylat %}
            {% for hoyla in hoylat %}
            <tr>
                <td><a href="{{base_path}}/nayta_hoyla/{{hoyla.id}}">{{hoyla.valmistaja}} {{hoyla.malli}}</a></td>
                <td>
                    <form role="form" method="post" action="{{base_path}}/poista_oma_hoyla">
                        <input type="hidden" class="form-control" id="hoyla" name="hoyla" value={{hoyla.id}}>
                        <button type="submit" class="btn btn-default btn-sm">En omista tätä partahöylää enää</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>Ei höyliä!</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{{base_path}}/listaa_hoylat"><button class="btn btn-primary">lisää uusi höylä itsellesi partahöylien listauksesta</button></a>
</div>
<div>
    <h3>Muuta salasana</h3>
    <form role="form" method="post" action="{{base_path}}/muuta_salasana">
        <div class="form-group">
            <label for="salasana">Vanha salasana:</label>
            <input type="password" class="form-control" id="salasana" name="salasana">
        </div>
        <div class="form-group">
            <label for="salasana">Uusi salasana:</label>
            <input type="password" class="form-control" id="usalasana" name="usalasana">
        </div>
        <div class="form-group">
            <label for="pwd">Uusi salasana uudestaan:</label>
            <input type="password" class="form-control" id="usalasana2" name="usalasana2">
        </div>
        <button type="submit" class="btn btn-default">Muuta salasana</button>
    </form>
</div>
<div>
    <h3>Tunnuksen poisto</h3>
    <a href="{{base_path}}/poista_tunnus"><button class="btn btn-danger">Tuhoa tunnuksesi</button></a>
</div>
{% endblock %}
