{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if success %}
    <div class="alert alert-success">
        {{success}}
    </div>
    {% endif %}
    {% if message %}
    <div class="alert alert-info">
        {{message}}
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger">
        {{error}}
    </div>
    {% for err in errors %}
    <div class="alert alert-warning">
        {{err}}
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">

        <div class="page-header">
            <h1>Tunnuksen poistaminen</h1>
        </div>
        <div class="alert alert-danger">
            Tunnuksen poistaminen tuhoaa tunnuksesi ja kaikki siihen liittyvät tiedot. Poistettua tunnusta ei voi palauttaa.
        </div>
        <div>
            <a href="{{base_path}}/omat_tiedot" class="btn btn-primary">Takaisin omalle sivulle</a>
        </div>
        <div>
            <form role="form" method="post" action="{{base_path}}/poistaminen">
                <div class="form-group">
                    <label for="tunnus">Tunnus:</label>
                    <input type="text" class="form-control" id="tunnus" name="tunnus" placeholder="Tunnuksesi">
                </div>
                <div class="form-group">
                    <label for="pwd">Salasana:</label>
                    <input type="password" class="form-control" id="salasana" name="salasana">
                </div>
                <button type="submit" class="btn btn-danger">Poista tunnus</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
