{% extends "base.html" %}

{% block content %}
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="page-header">
        <h1>{{tera.valmistaja}} {{tera.malli}}</h1>
    </div>
    {% if message %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endif %}
    <div>
        <a href="/tsoha/listaa_terat" class="btn btn-primary">Terien listaukseen</a>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Valmistaja</th>
                    <th>Malli</th>
                    <th>Terävyys</th>
                    <th>Pehmeys</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{tera.valmistaja}}</td>
                    <td>{{tera.malli}}</td>
                    {% if tera.viittauksia>0 %}
                    <td>{{(1.0 * tera.teravyys / tera.viittauksia)}}</td>
                    <td>{{(1.0 * tera.pehmeys / tera.viittauksia)}}</td>
                    {% else %}
                    <td>ei käyttökertoja</td>
                    <td>ei käyttökertoja</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
    {% if tera.viittauksia == 0 and user_logged_in %}
    <div>
        <a href="/tsoha/poista_tera/{{tera.id}}" class="btn btn-danger">Poista tämä terä tietokannasta</a>
    </div>
    {% endif %}
</div>
<div class="col-sm-2"></div>
{% endblock %}
