{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Listaa terät</h1>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Terä</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="nayta_tera">Derby Extra</a></td>
            </tr>
            <tr>
                <td><a href="nayta_tera">Astra Superior Platinum</a></td>
            </tr>
            <tr>
                <td><a href="nayta_tera">Personna Platinum</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
