{% extends "base.html" %}

{% block content %}
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="page-header">
        <h1>Terä!</h1>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Valmistaja</th>
                    <th>Malli</th>
                    <th>Terävyys</th>
                    <th>Pehmeys</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Astra</th>
                    <th>Superior Platinum</th>
                    <th>3.9</th>
                    <th>3.8</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-sm-2"></div>
{% endblock %}