{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Etusivu!</h1>
</div>
<div>
    <div>
        <a href="kirjaudu"><button class="btn btn-primary">Kirjaudu sisään tai rekisteröidy</button></a>
    </div>
    <div class="col-sm-6">
        <h2>Eniten käytetyt höylät</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Eniten käytetyt höylät</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Merkur 34c</td>
                </tr>
                <tr>
                    <td>Mühle 89R</td>
                </tr>
                <tr>
                    <td>Edwin Jagger DE89</td>
                </tr>
                <tr>
                    <td>safd</td>
                </tr>
                <tr>
                    <td>Parker 24C</td>
                </tr>
            </tbody>
                
        </table>
    </div>
    <div class="col-sm-6">
        <h2>Eniten käytetyt terät</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Eniten käytetyt terät</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Personna Blue</td>
                </tr>
                <tr>
                    <td>Astra SP</td>
                </tr>
                <tr>
                    <td>Derby</td>
                </tr>
                <tr>
                    <td>Mühle</td>
                </tr>
                <tr>
                    <td>dsaf</td>
                </tr>
            </tbody>
                
        </table>
        
    </div>

</div>
{% endblock %}
