{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Listaa pvk</h1>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Pvm</th>
                <th>Höylä</th>
                <th>Terä</th>
                <th>Saippua</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="ajopaivakirja">12.1.2015</a></td>
                <td><a href="nayta_hoyla">Merkur 34C</a></td>
                <td><a href="nayta_tera">Derby</a></td>
                <td>Arko</td>
            </tr>
            <tr>
                <td><a href="ajopaivakirja">15.2.2015</a></td>
                <td><a href="nayta_hoyla">Merkur 34C</a></td>
                <td><a href="nayta_tera">Astra Superior Platinum</a></td>
                <td>MWF</td>
            </tr>
            <tr>
                <td><a href="ajopaivakirja">20.3.2015</a></td>
                <td><a href="nayta_hoyla">Parker 24C</a></td>
                <td><a href="nayta_tera">Astra Superior Platinum</a></td>
                <td>MWF</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
