{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Listaa terät</h1>
</div>
{% if success %}
<div class="alert alert-success">
    {{success}}
</div>
{% endif %}
{% if message %}
<div class="alert alert-info">
    {{message}}
</div>
{% endif %}
{% if error %}
<div class="alert alert-warning">
    {{error}}
</div>
{% endif %}
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Terä</th>
            </tr>
        </thead>
        <tbody>
            {% for tera in terat %}
            <tr>
                <td><a href="{{base_path}}/nayta_tera/{{tera.id}}">{{tera.valmistaja}} {{tera.malli}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% if sivut %}
    <nav>
        <ul class="pagination">
            <li class="{% if not ed_sivu %}disabled"><a href=""><<</a>{% else %}"><a href="{{base_path}}/listaa_terat/{{ed_sivu}}"><<</a>{% endif %}</li>
            {% for sivu in 1..sivut %}
            <li class="{% if nyk_sivu == sivu %}active{% endif %}"><a href="{{base_path}}/listaa_terat/{{sivu}}">{{sivu}}</a></li>
            {% endfor %}
            <li class="{% if not seur_sivu %}disabled"><a href="">>></a>{% else %}"><a href="{{base_path}}/listaa_terat/{{seur_sivu}}">>></a>{% endif %}</li>
        </ul>
    </nav>
{% endif %}
    <p>
        <a href="{{base_path}}/uusi_tera" class="btn btn-success">Lisää uusi terä</a>
    </p>
</div>
{% endblock %}
