{% extends "base.html" %}

{% block content %}
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="page-header">
        <h1>Höylä!</h1>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Valmistaja</th>
                    <th>Malli</th>
                    <th>Aggressiivisuus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Parker</th>
                    <th>24C</th>
                    <th>3.8</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-sm-2"></div>
{% endblock %}