{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Näytä pvk!</h1>
</div>
<div>
    <h3>24.12.2015</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Saippua</th>
                <th>Höylä</th>
                <th>Terä</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mitchell's Wool Fat</td>
                <td>Parker 24C</td>
                <td>Astra Superior Platinum</td>
            </tr>
        </tbody>
    </table>
    <p>
        Jouluajo! Mitchell's Wool Fat -saippua tarjosi liukkaan ja suojaavan vaahdon,
        jonka yli Parker lipui leikaten partakarvat siististi.
    </p>
</div>
{% endblock %}
