{% extends "base.html" %}

{% block content %}
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="page-header">
        <h1>Uusi merkintä!</h1>
    </div>
    <div>
        <form role="form">
            <div>
                <div class="form-group">
                    <label for="pvm">Päiväys:</label>
                    <input type="date" class="form-control" id="pvm" value="2016-05-27">
                </div>
            </div>
            <div>
                <div class="form-inline">
                    <div class="form-group" >
                        <label for="saippua">Saippua:</label>
                        <input type="text" class="form-control" id="saippua" placeholder="Käyttämäsi saippua">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Kommentti on julkinen</label>
                    </div>
                </div>
<!--                
                <div>
                    <div class="form-group">
                        <label for="pvm">Kommentti saippuasta:</label>
                        <textarea class="form-control" id="saippuakommentti" rows="2" placeholder="Kommentoi saippuaa tähän"></textarea>
                    </div>
                </div>
-->                
            </div>
            <div>
                <div class="form-inline">
                    <div class="form-group">
                        <label for="hoylat">Höylä:</label>
                        <select class="form-control" name="hoylat">
                            <option value="mr89">Mühle R89</option>
                            <option value="par24c">Parker 24C</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hoylat">Aggressiivisuus:</label>
                        <select class="form-control" name="hoylat">
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Kommentti on julkinen</label>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="hoylakommentti">Kommentti höylästä:</label>
                        <textarea class="form-control" id="hoylakommentti" rows="2" placeholder="Kommentoi höylää tähän"></textarea>
                    </div>
                </div>
            </div>
            <div>
                <div class="form-inline">
                    <div class="form-group">
                        <label for="terat">Terä:</label>
                        <select class="form-control" name="terat">
                            <option value="derby">Derby</option>
                            <option value="astrasp">Astra Superior Platinum</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hoylat">Terävyys:</label>
                        <select class="form-control" name="hoylat">
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hoylat">Ajojälki:</label>
                        <select class="form-control" name="hoylat">
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Kommentti on julkinen</label>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="terakommentti">Kommentti terästä:</label>
                        <textarea class="form-control" id="terakommentti" rows="2" placeholder="Kommentoi terää tähän"></textarea>
                    </div>
                </div>
            </div>
            <div>
                <div class="checkbox">
                    <label><input type="checkbox"> Tämä päiväkirja on julkinen</label>
                </div>
                <div class="form-group">
                    <label for="ajopvkirja">Päivän ajo:</label>
                    <textarea class="form-control" id="ajopvkirja" rows="3" placeholder="Yleiskatsaus päivän ajosta"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
<div class="col-sm-2"></div>
{% endblock %}
